:root {
  --color-primary: #000;
  --color-secondary: #dfa167;
  --color-accent: #e9d6cd;
  --color-body: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  line-height: 1.4;
  background: var(--color-accent);
  color: var(--color-body);

  cursor: url(../images/cursor.png), auto;
}

h1 {
  color: var(--color-body);
  font-size: 5rem;
  margin-bottom: 4rem;
}

p {
  margin-top: 1rem;
}

/*Navigation bar */
.nav {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainIcon {
  width: 4rem;
  height: 4rem;
}

.list {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  padding: 3rem;
  cursor: pointer;
}

.nav__item > a {
  text-decoration: none;
  color: #d2d0db;
}

.nav__item > a:hover {
  color: #fff;
}

/* Hero component */
.content {
  position: absolute;
  top: 25vh;
  left: 10%;
  width: 33%;
}

hr {
  margin-top: 3rem;
  width: 20%;
  height: 0.6rem;
  background: var(--color-primary);
}

.content > p {
  margin-top: 3rem;
}

/* button */
.btn {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  border: 0;
  border-radius: 4rem;
  display: block;
  margin-top: 1rem;
}

.btn--secondary {
  outline: none;
  background-color: var(--color-secondary);
  color: #fff;
}

.imgMove {
  position: absolute;
  bottom: 12rem;
  right: 3rem;
  width: 35%;
  animation: 1s animate ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 600px) {
  .body {
    font-size: 2.5rem;
  }

  .h1 {
    font-size: 6rem;
  }
  .nav {
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .body {
    font-size: 3rem;
  }

  .h1 {
    font-size: 7rem;
  }

  .btn {
    font-size: 2rem;
    padding: 2rem 3rem;
  }

  .imgMove {
    bottom: 4rem;
    right: 12rem;
    width: 30%;
  }
}
